<header>
  <nav>
    <a href="#"><img src="./assets/logoCaminoIgnaciano.png" alt=""></a>
    <ul>
      <li><a href="#">Inicio</a></li>
      <li><a href="#">Nosotros</a></li>
      <li><a href="#">Contacto</a></li>
      <li><a href="#"><i class="bi bi-key-fill"></i></a></li>
    </ul>
  </nav>
  <aside>
    <ul>
      <li>
        <a href="#"><i class="bi bi-person-fill"></i></a>
        <span>Usuarios</span>
      </li>
      <li>
        <a href="#"><i class="bi bi-journal-bookmark-fill"></i></a>
        <span>Cuadernos</span>
      </li>
      <li>
        <a href="#"><i class="bi bi-geo-alt-fill"></i></a>
        <span>Poblaciones</span>
      </li>
      <li>
        <a href="#"><i class="bi bi-trophy-fill"></i></a>
        <span>Etapas</span>
      </li>
      <li>
        <a href="#"><i class="bi bi-cloud-sun-fill"></i></a>
        <span>Vivencias</span>
      </li>
    </ul>
  </aside>
</header>
<main>
  <section>
    <article>
      <div class="lista">
        <h2>Ruinas</h2>
        <div>
          <div class="imgContenedor">
            <img src="./assets/imgdb/ruinas/ruinabd1.jpg" alt="">
          </div>
          <div class="txtContenedor">
            <h4>Ruina 1</h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
              Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in
              voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
            <div>
              <button type="button" name="button"><i class="bi bi-trash3-fill"></i></button>
              <button type="button" name="button"><i class="bi bi-pencil-fill"></i></button>
            </div>
          </div>
        </div>
        <div>
          <div class="imgContenedor">
            <img src="./assets/imgdb/ruinas/ruinabd1.jpg" alt="">
          </div>
          <div class="txtContenedor">
            <h4>Ruina 1</h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
              Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in
              voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
            <div>
              <button type="button" name="button"><i class="bi bi-trash3-fill"></i></button>
              <button type="button" name="button"><i class="bi bi-pencil-fill"></i></button>
            </div>
          </div>
        </div>
        <div>
          <div class="imgContenedor">
            <img src="./assets/imgdb/ruinas/ruinabd1.jpg" alt="">
          </div>
          <div class="txtContenedor">
            <h4>Ruina 1</h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
              Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in
              voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
            <div>
              <button type="button" name="button"><i class="bi bi-trash3-fill"></i></button>
              <button type="button" name="button"><i class="bi bi-pencil-fill"></i></button>
            </div>
          </div>
        </div>
        <div>
          <div class="imgContenedor">
            <img src="./assets/imgdb/ruinas/ruinabd1.jpg" alt="">
          </div>
          <div class="txtContenedor">
            <h4>Ruina 1</h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
              Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in
              voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
            <div>
              <button type="button" name="button"><i class="bi bi-trash3-fill"></i></button>
              <button type="button" name="button"><i class="bi bi-pencil-fill"></i></button>
            </div>
          </div>
        </div>
        <div>
          <div class="imgContenedor">
            <img src="./assets/imgdb/ruinas/ruinabd1.jpg" alt="">
          </div>
          <div class="txtContenedor">
            <h4>Ruina 1</h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
              Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in
              voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
            <div>
              <button type="button" name="button"><i class="bi bi-trash3-fill"></i></button>
              <button type="button" name="button"><i class="bi bi-pencil-fill"></i></button>
            </div>
          </div>
        </div>
      </div>
    </article>
    <article>
      <form class="formulario" action="" method="POST">
        <h2>Gestión de Ruinas</h2>
        <input type="text" name="nombre" placeholder="Nombre..." required>
        <textarea name="descripcion" placeholder="Descripción..." required></textarea>
        <div>
          <input type="text" name="lugares[]" value="" placeholder="Lugar de Interés...">
          <button type="button"><i class="bi bi-plus-lg"></i></button>
        </div>
        <div>
          <button type="submit" name="submit">ENVIAR</button>
          <input type="file" name="iImagen" value="">
        </div>
    </form>
    </article>
  </section>
  <footer>

  </footer>
</main>
<!--app-main></app-main-->
